@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


:root{
    --color1: #f1ffe7;
    --color2: #a9fdac;
    --color3: #44cf6c;
    --color4: #0d5d56;
    --color5: #297373;

    --font-main: 'Koulen', cursive;
    --fotn-general: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}