@charset "UTF-8";



/*Menu*/
.header-menu{
    cursor: pointer;
    position: relative;
    height: 28px;
    width: 28px;
    justify-self: end;
}
.header-menu > div{
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: var(--color5);
    border-radius: 5px;
}
.menu-barra1{
    top: 5px;
}
.menu-barra2{
    top: 13px;
}
.menu-barra3{
    top: 21px;
}




.menu-tools{
    position: fixed;
    bottom: -95px;
    width: 100vw;
}
.menu-tools > a{
    position: absolute;
    left: 50%;
    width: 130px;
    padding: 20px 0px;
    background-color: var(--color5);
    font: 600 normal .9em var(--font-general);
    color: var(--color1);
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    transform: rotate(-90deg);
    translate: -50%;
}
.menu-tools > a:active{
    background-color: var(--color4);
    transition: all .1s ease;
}
.menu-tools > .button-calculadora{
    z-index: 1;
}
.menu-tools > .button-juros-compostos{
    left: calc(50% - 50px);
}
.menu-tools > .button-juros-simples{
    left: calc(50% - -50px);
}





.calculadora{
    width: 300px;
    margin: 50px auto 80px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.2fr repeat(5, 1fr);
    gap: 5px;
}
.calculadora > p{
    overflow: auto;
    width: 100%;
    padding: 15px;
    grid-column-start: 1;
    grid-column-end: 5;
    font: 600 normal 1em var(--font-general);
    color: var(--color5);
    border: 2px solid var(--color5);
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.calculadora > p::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.calculadora > button{
    cursor: pointer;
    background-color: var(--color3);
    font: 800 normal 1em var(--font-general);
    color: var(--color1);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.calculadora > button:active{
    background-color: var(--color2);
    transition: all .1s ease;
}





form{
    width: 300px;
    margin: 10px auto 100px auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}

form > div{
    padding: 3px;
    display: grid;
    grid-template-columns: 1.5fr 8fr 2fr;
    align-items: center;
    justify-items: center;
    column-gap: 3px;
    background-color: var(--color5);
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

form > div > label{
    font: 700 normal 1em var(--font-general);
    color: var(--color1);
}
form > div > input{
    width: 100%;
    padding: 10px;
    font: normal normal 1em var(--font-general);
    color: var(--color5);
    border: none;
    border-radius: 8px;
}
form > div > input:focus{
    outline: none;
    background-color: var(--color2);
}
form > div > input::-webkit-inner-spin-button{
    display: none;
}

form > div > div{
    cursor: pointer;
    padding: 10px;
    background-color: var(--color1);
    font: 600 normal 1em var(--font-general);
    color: var(--color5);
    border: none;
    border-radius: 8px;
}
form > div > div:active{
    background-color: var(--color2);
    transition: all .1s ease;
}

form > input[type="submit"]{
    cursor: pointer;
    background-color: var(--color3);
    font: 700 normal 1em var(--font-general);
    color: var(--color1);
    border: none;
    border-radius: 10px;
    box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.4);
}
form > input[type="submit"]:active{
    background-color: var(--color2);
    transition: all .1s ease;
}

.output{
    margin: 0px auto 50px auto;
    font: 600 normal 1.1em var(--font-general);
    color: var(--color5);
    text-align: center;
    line-height: 2em;
}